html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 16px 0;
  max-width: 1024px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: white;
}

.logo-img {
  width: 110px;
  border-radius: 50%;
}

.logo-title {
  font-weight: 400;
}

.logo-text {
  font-weight: 700;
}

/* NAV */
.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-link {
  color: white;
}

/* HERO */

.hero {
  position: relative;
  min-height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("img/hero-img.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.hero .container {
  display: flex;
  position: relative;
  text-align: center;
  color: white;
  padding: 110px 10px 0;
  margin: 40px 5px 0;
  max-width: 1024px;
}

.hero-title {
  font-weight: 400;
  font-size: 1.2rem;
}

/* BLOG */
.blog {
  padding: 50px 0;
  max-width: 1024px;
}

.blog-title {
  font-size: 2.5rem;
  text-align: center;
}

/* ARTICLES */
.articles {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.article {
  background: rgb(0, 3, 80);
  background: linear-gradient(
    90deg,
    rgba(0, 3, 80, 1) 0%,
    rgba(0, 6, 107, 1) 31%,
    rgba(0, 49, 139, 1) 66%,
    rgba(0, 105, 181, 1) 100%
  );
  color: #fff;
  padding: 30px 15px;
  border-radius: 40px 0;
  margin: 0 20px;
}

.article-body {
  padding: 0 20px 20px;
}

.article-title {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.article-link {
  background: #0069b4;
  padding: 7px 12px;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
}

/* FOOTER */
.footer {
  background: rgb(0, 3, 80);
  background: linear-gradient(
    90deg,
    rgba(0, 3, 80, 1) 0%,
    rgba(0, 6, 107, 1) 31%,
    rgba(0, 49, 139, 1) 66%,
    rgba(0, 105, 181, 1) 100%
  );
}

.footer .container {
  color: #fff;
  padding: 30px 0 25px;
  max-width: 1024px;
}

.footer-title {
  padding: 30px 0;
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px 0 40px;
}

.footer-link {
  color: inherit;
  opacity: 0.6;
  font-size: 2.8rem;
  transition: all 1s ease-in-out;
}

.footer-link .bx:hover {
  transform: scale(1.4);
  opacity: 1;
}

.footer-list {
  padding: 20px 0 15px;
  text-align: center;
  line-height: 1.5;
}

.footer-span {
  font-size: 1.3rem;
  font-weight: 700;
}

.footer-item_item {
  font-size: 1.3rem;
}

/* Responsive */

@media screen and (min-width: 678px) {
  /* .header .container {
    flex-direction: row;
  } */

  /* .nav-link {
    font-size: 1.2rem;
  } */

  .logo {
    gap: 2rem;
  }

  .logo-img {
    width: 160px;
  }

  .hero {
    min-height: 780px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1.3rem;
  }

  /* ARTICLES */
  .article {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  .article-img {
    width: 50%;
    height: 400px;
  }

  .article-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    overflow: hidden;
  }

  .articles .article:nth-child(even) {
    flex-direction: row-reverse;
  }

  .article-body {
    width: 50%;
  }

  .footer-title {
    font-size: 3.2rem;
  }

  .footer-link {
    font-size: 3rem;
  }

  .footer-list {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .header .container,
  .hero .container,
  .blog,
  .footer .container {
    margin: 0 auto;
  }
}

/* git init

git add .

git commit -m "first commit"

git remote add origin https://github.com/NOMBRE_USUARIO/NOMBRE_PROYECTO.git

git push -u origin master */
